// HELPER SIZING

.full-screen {
    min-height: 100vh;
}

// COLORS

$primary-color:#FC9764;
$secondary-color:#2B59C3;
$danger-color:#E86858;
$success-color:#32936F;
$white:#fff;
$light-color:#F1E9E3;

// OVERIDDE GRID DEFAULT CSS

.row {
    margin-bottom: 0;
}

// PADDING HELPER FOR NAV TO MAIN OFFSET

.offset-top-10 {
    padding-top: 5.5rem;
}


// ROOT BACKGROUND
#root {
    background-color: $light-color;
}


a:hover {
    text-decoration: unset;
}



// BACKGROUND HELPERS

.bg-primary-color {
    background-color: $primary-color;
}

.bg-secondary-color {
    background-color: $secondary-color;
}


.bg-success-color {
    background-color: $success-color;
}

.bg-danger-color {
    background-color: $danger-color;
}

// BTN COLOR HELPERS

.btn-primary-color {
    background-color: $primary-color;
}

.btn-danger-color {
    background-color: $danger-color;
}

.btn-secondary-color {
    background-color: $secondary-color;
}

.btn-success-color {
    background-color: $success-color;
}

// BTN RADIUS

.btn-rounded {
    border-radius: 2rem;
}

// SPECIAL CONTAINER

.overflow-auto {
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    height: 66vh;
    width: 100%;
    ;
}


// POSITION HELPERS

.absolute-top {
    position: absolute;
    top: 0;
    z-index: 1000;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}


// NAVBAR

nav li a {
    color: $white
}


nav {
    width: 100%;
    border-bottom: unset;
    box-shadow: unset;
    height: 5rem;
}

nav a {
    font-size: 1.5rem;
}

// MENU LEFT

.menu-left {
    position: fixed;
    height: 100vh;
    background-color: $secondary-color;
    transition: 1s ease-in-out;
    z-index: 1500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-left ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;

    li {


        margin-top: 2rem;
        margin-bottom: 2rem;

        a {
            font-size: 2rem;
            color: $white;
        }

    }


}

.menu-left #close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: $white;
    cursor: pointer;
}

.menu-left a:hover {
    text-decoration: none;
}


@media screen and (min-width:992px) {
    .menu-left {
        width: 33vw;
        right: -33vw;
    }

}

@media screen and (max-width:992px) {
    .menu-left {
        width: 100vw;
        right: -100vw
    }

}


.menu-left.show {
    right: 0;
}

// FEED CONTAINER

#feed-container {
    padding: 1.5rem;
    height: 85vh;
    border-radius: 5rem;
    background-color: #FFF;
}

#feed-container-profile,
#feed-container-buttons {
    height: 100vh;
}


// FORMS

.form-sign-actions {
    padding: 2.5rem;
    background-color: #FFF;
    color: #000;
    min-height: 66vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 2.5rem;
    }
}


// CARD

.card {
    min-height: 20rem;
    width: 90%;
    background-color: $white;
    margin-left: auto;
    margin-right: auto;
    border: unset;
    box-shadow: unset;
    padding: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid $light-color;
    color: rgb(41, 41, 41);
}

.card * {
    color: #414141;
}


// CARD CONTENT STYLES

.card {
    .like-and-share {
        position: absolute;
        bottom: 0;
    }
}

.post-text {
    font-size: 2rem;
}

.avatar {
    height: 2.5rem;
    width: 2.5rem;
}


// MODAL

#modal.show {
    background-color: $white;
    z-index: 1000;
    padding: 2.5rem;
    position: fixed;
    height: 90vh;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}

#modal.show .alert {
    position: relative;
    padding: .75rem 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: .75rem 1.25rem;
        color: inherit;
    }
}

#modal {
    position: fixed;
    overflow: auto;
}

i{
    cursor: pointer;
}


#modal,
#modal * {
    min-height: 0;
    padding: 0;
    font-size: 0;
    margin: 0;
    height: 0;
    border: unset;
}

#modal.show * {
    min-height: initial;
    padding: initial;
    font-size: initial;
    margin: initial;
    height: initial;
    border: initial;
}